.paralax{
     background-image: url(https://i.imgur.com/NepipKm.jpg);
     min-height: 500px;

     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

}

.jumb{
     background:rgb(63, 136, 165) !important;
   background: linear-gradient(1deg, rgb(100, 142, 173) 10%, rgb(66, 75, 126) 90%) !important;
   }
.borda{
     border-color: rgb(26, 128, 168) !important;
}


.radio{
     border-radius: 50% !important;
}

.text-brush{
font-family: Brush Script MT;
}