
<div class="container w-100" id="topo">
  <div class="row w-100 mt-5">
    <div class="col-md-12">

      <h1 class="text-monospace text-center text-secondary " >Sejam bem vindos(as) ao meu blog! </h1>
    </div>
  </div>

  <div class="row mt-4 mb-4 w-100">
    <div class="col-md-12 w-100">
      <p class="text-justify text-monospace ">
        Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
      </p>
    </div>
  </div>
</div>
  <div>
    <div class="paralax"> </div>
  </div>

 <div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="row">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qXjyuIKqG1k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"   allowfullscreen></iframe>
    </div>
  </div>

  <div>
    <a href="#topo" ><img  class="seta" src="https://i.imgur.com/wIr2Yk9.png" /></a>
    </div>

  <div class="row mt-5 mb-5 w-100">
    <div class="col-md-12 w-100 d-flex justify-content-center ">
      <button class="btn btn-outline-gray text-uppercase font-weight-bold  " routerLink='/feed'>Ver o feed</button>
    </div>
  </div>


