<footer  class="page-footer font-small bg-secondary pt-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
            
               <ul class="social-network">
                   <li>
                      <a href="https://www.linkedin.com/in/paulo-morais-2aab41a1/" class="icoLinkedin" title="Linkedin" >
                     <fa-icon [icon] = "faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                      </a>
                   </li>
                   <li>
                      <a href="https://github.com/paulomorais97" class="icoGithub" title="Github">
                         <fa-icon [icon] = "faGithub" class="faGithub fa-3x p-3"></fa-icon>
                      </a>
                   </li>
               </ul>
            </div>     
        </div>
    </div>
           <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light"> © 2020 Copyright - Paulo Morais</span>     
           </div>
       
          
 

     
 </footer>