/* footer social icons*/
ul.social-network{
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.faLinkedin, .faGithub, .faFacebook, .faInstagram{
    color:white
}

.faLinkedin:hover{
    color: #0072b1;
}

.faGithub:hover{
    color: rgb(105, 49, 101);
}
.faFacebook:hover{
color: rgb(11, 101, 204)
}
.faInstagram:hover{
color: rgb(192, 20, 169);
}