
<div class="container-fluid d-flex justify-content-center ">
    <nav class="navbar navbar-expand-lg bg-white ">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button> 
       
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item "> 
                  <a class="nav-link texto text-uppercase text-monospace font-weight-bold p-3 text-info " routerLink='/home'>Home <span class="sr-only border border-secondary">(página atual)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link texto text-uppercase text-monospace font-weight-bold p-3 text-info" routerLink='/feed'>Feed</a>
                </li>
              </ul>
            </div>

      </nav>
</div>

