
<div class="container-fluid d-flex justify-content-center">
    <nav class="navbar  navbar-expand-lg transparente ">
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon text"></span>
        </button> 
       
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item "> 
                  <img class="mt-1  d-flex justify-content-flex-end" src="https://24.media.tumblr.com/tumblr_mcm1ec68fN1qfqgb9o1_1280.gif" alt="gif" width="50px" height="50px">
                </li>
                <!--
                  https://i.pinimg.com/originals/a9/02/16/a902167cae8538769ad56ec7514ce73c.gif
                  https://24.media.tumblr.com/tumblr_mcm1ec68fN1qfqgb9o1_1280.gif
                  https://i.pinimg.com/originals/df/8e/36/df8e36f90e6a20167f071ed1b6c10e50.gif-->
                <li class="nav-item "> 
                  <a class="nav-link texto text-uppercase text-courier font-weight-bold p-3 text " routerLink='/home'>Home <span class="sr-only border border-secondary">(página atual)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link texto text-uppercase text-courier font-weight-bold p-3 text" routerLink='/feed'>Feed</a>
                </li>
                <div *ngIf='auth.btnLogin()'>
                  <li class="nav-item">
                    <a class="nav-link texto text-uppercase text-courier font-weight-bold p-3 text" routerLink='/login'>Login</a>
                  </li>
                </div>
                <div *ngIf='auth.btnLogin()'>
                  <li class="nav-item">
                    <a class="nav-link texto text-uppercase text-courier font-weight-bold p-3 text" routerLink='/cadastro'>Cadastrar</a>
                  </li>
                </div>
                
                <div *ngIf='auth.btnSair()'>
                  <li class="nav-item">
                    <a class="nav-link texto text-uppercase text-courier  font-weight-bold p-3 text" (click)='sair()'>Sair</a>
                  </li>
                </div>
                
              </ul>
            </div>

      </nav>
</div>

