
<div class="card border-0 fundo" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75 shadow-lg" src="https://i.imgur.com/RawCsvh.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Desenvolvedor Fullstack Java Jr.</p>
      <a href="https://www.linkedin.com/in/paulo-morais-2aab41a1/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      <a href="https://github.com/paulomorais97" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>