
<div class="card border-0 transparente" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75 shadow-lg" src="https://i.imgur.com/ZNPBwKi.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h3 class="card-title text-center text-monospace text-white font-weight-bold" style="color: rgb(190, 206, 121) !important;">{{nome}}</h3>
      <p class="card-text text-center text-monospace text-white">Blog feito para compartilhar experiências entre os amantes da biologia marinha ♥</p>
      <a href="https://www.linkedin.com/in/paulo-morais-2aab41a1/" class="btn btn-outline-light2 mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
     
      <a href="https://github.com/paulomorais97" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>