/* You can add global styles to this file, and also import other style files */


body{
  background:rgb(129, 200, 228) !important;
   background: linear-gradient(1deg, rgb(87, 135, 172) 10%, rgb(191, 217, 236) 90%) !important;
}

.fundo{
  background-color:  rgb(121, 162, 194) !important;
}
/* btn-outline-rose*/
.btn-outline-rose{
    color: #ed969e !important;
    border-color: #ed969e !important;
  }
  .btn-outline-rose:hover{
    color: #fff !important;
    background-color: #ed969e !important;
    border-color: #ed969e !important;
    
  }
  
  .btn-outline-rose:focus, .btn-outline-rose.focus{
    box-shadow: 0 0 0 0.2rem  rgb(219, 188, 209);
  }
  .btn-outline-rose.disabled, .btn-outline-rose:disabled {
    color: #ed969e;
    background-color: transparent;
  }
  .btn-outline-rose:not(:disabled):not(.disabled):active, .btn-outline-rose:not(:disabled):not(.disabled).active,
  .show > .btn-outline-rose.dropdown-toggle {
    color: #fff;
    background-color: #ed969e;
  }
  .btn-outline-rose:not(:disabled):not(.disabled):active:focus, .btn-outline-rose:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-rose.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem  rgb(219, 188, 209);
  }
/* //btn-outline-rose*/

/* btn-outline-yellow*/
.btn-outline-yellow {
    color: #ffffff !important;
    border-color: #ffc107 !important;
    background-color: #ffc107 !important;
  }
  
  .btn-outline-yellow:hover {
    color: #ffc107 !important;
    background-color: #ffffff !important;
    border-color: #ffc107 !important;
  }
  
  .btn-outline-yellow:focus, .btn-outline-yellow.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  
  .btn-outline-yellow.disabled, .btn-outline-yellow:disabled {
    color: #ffc107;
    background-color: transparent;
  }
  
  .btn-outline-yellow:not(:disabled):not(.disabled):active, .btn-outline-yellow:not(:disabled):not(.disabled).active,
  .show > .btn-outline-yellow.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-outline-yellow:not(:disabled):not(.disabled):active:focus, .btn-outline-yellow:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-yellow.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
/* //btn-outline-yellow*/

/* btn-outline-gray*/
.btn-outline-gray {
    color: #17a2b8 !important;
    border-color: #6c757d !important;
  }
  
  .btn-outline-gray:hover {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
  }
  
  .btn-outline-gray:focus, .btn-outline-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
  
  .btn-outline-gray.disabled, .btn-outline-gray:disabled {
    color: #6c757d;
    background-color: transparent;
  }
  
  .btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-gray.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
/* //btn-outline-gray*/  

/* btn-outline-blue*/
.btn-outline-blue {
  color:#7192ec !important;
  border-color:  #7192ec !important;
  background-color: #ffffff !important;
}

.btn-outline-blue:hover {
  color: #fff !important;
  background-color:  #7192ec!important;
  border-color:#7192ec !important;
}

.btn-outline-blue:focus, .btn-outline-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 166, 216, 0.5);
}

.btn-outline-blue.disabled, .btn-outline-blue:disabled {
  color: #8dc7fa;
  background-color: transparent;
}

.btn-outline-blue:not(:disabled):not(.disabled):active, .btn-outline-blue:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #8dc7fa;
  border-color: #8dc7fa;
}

.btn-outline-blue:not(:disabled):not(.disabled):active:focus, .btn-outline-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 166, 216, 0.5);
}
/* // btn-outline-blue*/

/* btn-outline-white*/
.btn-outline-white{
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-outline-white:hover{
  color: #fff !important;
  background-color: #f0b255 !important;
  border-color: #f0b255 !important;
  
}

.btn-outline-white:focus, .btn-outline-white.focus{
  box-shadow: 0 0 0 0.2rem rgb(240, 213, 140);
}
.btn-outline-white.disabled, .btn-outline-white:disabled {
  color: #ebb058;
  background-color: transparent;
}
.btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active,
.show > .btn-outline-white.dropdown-toggle {
  color: #fff;
  background-color:#f0b255;
}
.btn-outline-white:not(:disabled):not(.disabled):active:focus, .btn-outline-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem  rgb(240, 213, 140);
}
/* //btn-outline-white*/

.btn-outline-danger2 {
  color: #ffffff !important;
  border-color: #dc3545 !important;
  background-color: #dc3545 !important;
}

.btn-outline-danger2:hover {
  color: #dc3545 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.btn-outline-danger2:focus, .btn-outline-danger2.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}

.btn-outline-danger2.disabled, .btn-outline-danger2:disabled {
  color: #dc3545 !important;
  background-color: #ffffff !important;
}

.btn-outline-danger2:not(:disabled):not(.disabled):active, .btn-outline-danger2:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-outline-danger2:not(:disabled):not(.disabled):active:focus, .btn-outline-danger2:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger2.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}
/*
FINAL DO DANGER


*/

.btn-outline-info2 {
  color: #ffffff !important;
  border-color: #17a2b8 !important;
  background-color: #17a2b8 !important;
}

.btn-outline-info2:hover {
  color: #1177aa !important;
  background-color: #ffffff !important;
  border-color: #17a2b8 !important;
}

.btn-outline-info2:focus, .btn-outline-info2.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) !important;
}

.btn-outline-info2.disabled, .btn-outline-info2:disabled {
  color: #17a2b8 !important;
  background-color: #ffffff !important;
}

.btn-outline-info2:not(:disabled):not(.disabled):active, .btn-outline-info2:not(:disabled):not(.disabled).active,
.show > .btn-outline-info2.dropdown-toggle {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.btn-outline-info2:not(:disabled):not(.disabled):active:focus, .btn-outline-info2:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info2.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) !important;
}
/*
FINAL DO INFO


*/
/* textos*/

.text-gold{
  color: rgb(145, 148, 102);
}
.fs-18{
  font-size: 18px;
}

.borda{
  
  border-color: rgba(110, 166, 216, 0.5);
}
a{
  cursor: pointer !important;
}
/* //textos*/
/* Background*/
.transparente{
  background-color:rgba(0, 0, 0, 0) !important;
}

.white{
  background-color: #ffffff !important;
  
}
/* //Background*/
.borda{
  border-radius: 2% !important;
}